.container{
    background-color: beige;
    padding: 3%;
    margin-bottom: 0;
}
.navegations{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
body{
    color: #333;
}
.imagen-link{
    margin-left: 30%;
}